body{
    margin: 0;
}

#nav{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    
}

#nav a{
    margin-left: 20px;
}

#nav a.topimage{
    width: 20px;
    height: 20px;
    background: teal;
    border-radius: 10px;

}

#middle{
    margin-top: 200px;

}

#logo{
    text-align: center;
}

#search_bar_container{
    text-align: center;
    margin-top: 25px;

}

#searchbar{
    padding: 10px 0 10px 0;
    outline: 0;
    width: 500px;
    border-radius: 25px;
    border: 2px solid lightgray;
}

#button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.button{
    margin:0 10px;
    padding: 10px 15px;
    cursor: pointer;
    background: rgb(231, 239, 240);
    border-radius: 3px;
}
