html, body{
    margin: 0;
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

#nav{
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

#nav a{
    margin-left: 20px;
    font-size: small;
}

#nav a.topimage{
    width: 20px;
    height: 20px;
    background: teal;
    border-radius: 10px;

}

#middle{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#logo{
    text-align: center;
}

#search_bar_container{
    text-align: center;
    margin-top: 25px;

}
#search, #voice{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#searchbar{
    padding: 10px 0 10px 0;
    position: relative;
    outline: 0;
    width: 500px;
    border-radius: 25px;
    border: 2px solid lightgray;
}

#searchbar:hover{
    box-shadow: 0 0 5px 2px lightgray ;
}

#button{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
}
.button{
    margin:0 10px;
    padding: 10px 15px;
    cursor: pointer;
    background: #f8f9fa;
    border-radius: 3px;
}
#links{
    margin-top: 20px ;
    text-align: center;
}

#footer{
    
    margin: 10em 0 0 0;
    flex-wrap: wrap;
    background: lightgray;
    border-top: 20px solid lightgray; 
    
    
}
#footer_content a{
   text-align:center;
    padding: 15px;
}

